@model ASPNETCoreDbFirst.Models.OrderTabVM

@{
    ViewData["Title"] = "Create";
}

<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            function calculateNetAmount() {
                var subtotal = parseFloat($('#SubTotal').val()) || 0;
                var discount = parseFloat($('#Discount').val()) || 0;
                var shippingFee = parseFloat($('#ShippingFee').val()) || 0;

                var discountAmount = (discount / 100) * subtotal;
                var netAmount = subtotal - discountAmount + shippingFee;

                $('#NetTotal').val(netAmount.toFixed(2));
            }

            $('#SubTotal, #Discount, #ShippingFee').on('input', function () {
                calculateNetAmount();
            });

            $('#ProductId').change(function () {
                GetProductByUnitPrice()
            });


            $('#addProduct').click(function () {
                var newItem = {
                    ProductId: $('#ProductId').val(),
                    ProductName: $('#ProductId option:selected').text(),
                    Quantity: $('#Quantity').val(),
                    UnitPrice: $('#UnitPrice').val(),
                    TotalAmount: (parseInt($('#Quantity').val()) || 0) * (parseFloat($('#UnitPrice').val()) || 0)
                };
                $.ajax({
                    data: newItem,
                    method: "POST",
                    //contentType: "application/json",
                    url: "@Url.Action("AddItem", "OrderTab")",
                    success: function (response) {
                        $("#productbody").empty();
                        $("#SubTotal").val('0');
                        var subtotal = 0;

                        $.each(response, function (index, item) {

                            var result = "<tr><td><input type='button' id='removeproduct' value='Delete' class='btn btn-outline-primary'/></td>" +
                                "<td>" + item.productName + "</td>" +
                                "<td>" + item.quantity + "</td>" +
                                "<td>" + item.unitPrice.toFixed(2) + "</td>" +
                                "<td>" + item.totalAmount.toFixed(2) + "</td></tr>";
                            $("#productbody").append(result);
                            subtotal = subtotal + item.totalAmount;

                        });
                        $("#SubTotal").val(subtotal);
                        $('#ProductId').val('');
                        $('#Quantity').val('');
                        $('#UnitPrice').val('');
                        calculateNetAmount();
                    },
                    failure: function (response) {
                        alert(response.Error);
                    },
                    error: function (response) {
                        alert(response.Error);
                    }
                });
            });

            $('#removeproduct').click(function () {
                ProductId: $('#ProductId').val(),

                    $.ajax({
                        url: '/OrderTab/Remove',
                        type: 'POST',
                        data: { productId: ProductId },
                        success: function (response) {
                            // Handle success
                            alert('Record deleted successfully!');
                            // Optionally, remove the deleted record from the DOM
                        },
                        error: function (xhr, status, error) {
                            // Handle error
                            console.error('Error deleting record:', error);
                        }
                    });
            });



            function GetProductByUnitPrice() {
                var selectedValue = $("#ProductId").val();
                $.ajax({
                    url: '@Url.Action("GetProductByUnitPrice", "OrderTab")',
                    type: 'GET',
                    data: {
                        ProductId: selectedValue,
                    },
                    success: function (data) {

                        $('#UnitPrice').val(data[0].unitPrice);

                    }
                });
            }

        });
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }

        .table {
            border-style: groove;
        }


        .container {
            display: flex;
            justify-content: space-evenly;
        }

        .heading {
            display: flex;
            justify-content: space-between;
        }

        .package {
            display: flex;
            justify-content: space-evenly;
        }


        .calculation {
            display: inline-block;
            align-items: right;
            float: inline-end;
        }

        .form-size {
            display: flex;
            flex-direction: row;
        }

        .form-adjust {
            justify-content: space-between;
            display: block;
        }

        .container.form-group {
            display: inline-block;
            align-items: center;
            justify-items: space-between;
        }

        .package.form-group {
            display: inline-block;
            align-items: center;
            justify-items: space-between;
        }
    </style>

</head>
<body>
    <form asp-action="Create" method="post">
        <div class="heading">
            <h5><b>Purchase Order</b></h5>
            <a asp-controller="OrderTab" asp-action="List" class="btn btn-primary h-50"><i class="fa fa-address-card" aria-hidden="true"></i></a>
        </div>
        <br />
        <div class="container">

            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Customer</label><span class="mandatory"></span>
                @Html.DropDownList("CustomerId", (IEnumerable<SelectListItem>)ViewBag.CustomersId, "--Select--", new { @class = "form-select", required = "required" })
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" id="orderDate" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
        </div>
        <br />
        <h5><b>Order Items</b></h5>
        <br />

        <div class="package" id="option">
            <div class="form-group">
                <label class="control-label">Products</label><span class="mandatory"></span>
                @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.ProductId, "--Select--", new { @id = "ProductId", @class = "form-select", required = "required" })
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" id="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" id="UnitPrice" class="form-control" readonly />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <button id="addProduct" class="btn btn-primary h-60"><i class="fa-solid fa-plus"></i>Add Item</button>
            </div>
        </div>
        <br />
        <br />
        <table class="table" id="productlist">

            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        UnitPrice
                    </th>
                    <th>
                        TotalAmount
                    </th>

                </tr>
            </thead>
            <tbody id="productbody">
            </tbody>


        </table>
        <div class="calculation">
            <div class="form-size">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" value="" id="SubTotal" class="form-control" readonly />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-size">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" id="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-size">
                <label asp-for="ShippingFee" class="control-label"></label>
                <input asp-for="ShippingFee" id="ShippingFee" class="form-control" />
                <span asp-validation-for="ShippingFee" class="text-danger"></span>
            </div>
            <div class="form-size">
                <label asp-for="NetTotal" class="control-label"></label>
                <input asp-for="NetTotal" id="NetTotal" class="form-control" readonly />
                <span asp-validation-for="NetTotal" class="text-danger"></span>
            </div>
            <div class="form-adjust">
                <label class="control-label">Status</label><span class="mandatory"></span>
                @Html.DropDownList("StatusId", (IEnumerable<SelectListItem>)ViewBag.StatusId, "--Select--", new { @class = "form-select", required = "required" })
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-adjust">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</body>
</html>
