@model ASPNETCoreDbFirst.Models.OrderVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Quantity, #Amount').on('input', function () {
            var quantity = parseFloat($('#Quantity').val()) || 0;
            var amount = parseFloat($('#Amount').val()) || 0;
            var totalAmount = quantity * amount;
            $('#TotalAmount').val(totalAmount);
        });
    });
</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            @Html.DisplayName("CustomerName")
            <select class="form-select" asp-for="CustomerId"  id="CustomerId"disabled >
                <option value="0">-------Select-------</option>
                @foreach (var category in ViewBag.CustomerId.Items)
                {
                    <option value="@category.CustomerId">@category.Name</option>
                }
            </select>
            <div class="form-group">
                @Html.DisplayName("ProductName")
                <select class="form-select" asp-for="ProductId" id="ProductId"disabled >
                    <option value="0">-------Select-------</option>
                    @foreach (var category in ViewBag.ProductId.Items)
                    {
                        <option value="@category.ProductId">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control"  />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="TotalAmount" class="control-label"></label>
            <input asp-for="TotalAmount" class="form-control" readonly/>
            <span asp-validation-for="TotalAmount" class="text-danger"> </span>
        </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="List">Back to List</a>
            </div>
        </form>
    </div>
</div>